# SQL Assignment 1

### 1.Explain different types of views. Demonstrate with suitable examples

Ans:-In the context of databases and database management systems (DBMS), views are virtual tables that display the result of a SELECT query. Views are not physical tables, but rather, they are generated dynamically based on the underlying data. Views offer several advantages, including data security, simplifying complex queries, and providing an abstracted representation of the data. There are various types of views, each with its own purpose and characteristics. Let's explore some common types of views with suitable examples:

1. Simple Views:
   A simple view is a virtual table created from one base table or other views. It's a straightforward representation of the underlying data. Simple views can be useful for providing an alias for a table or simplifying access to certain columns.

   Example:
   Suppose you have a "Customers" table, and you want to create a simple view that displays only the "CustomerName" and "Email" columns.

   ```sql
   CREATE VIEW SimpleCustomerView AS
   SELECT CustomerName, Email
   FROM Customers;
   ```

2. Complex Views:
   Complex views are constructed using multiple base tables or other views and may involve calculations, aggregations, or joins. They provide a more advanced representation of the data, often used to simplify complex queries or report generation.

   Example:
   Create a complex view that shows the total sales for each customer by joining the "Customers" and "Orders" tables:

   ```sql
   CREATE VIEW ComplexSalesView AS
   SELECT c.CustomerName, SUM(o.TotalAmount) AS TotalSales
   FROM Customers c
   INNER JOIN Orders o ON c.CustomerID = o.CustomerID
   GROUP BY c.CustomerName;
   ```

3. Materialized Views:
   Materialized views are precomputed and stored physically in the database. Unlike standard views that are generated on the fly, materialized views are updated periodically or upon data changes. They are useful for improving query performance in situations where complex calculations or aggregations are frequently required.

   Example:
   Create a materialized view that stores the average price of products in a category:

   ```sql
   CREATE MATERIALIZED VIEW CategoryAvgPrice AS
   SELECT Category, AVG(Price) AS AvgPrice
   FROM Products
   GROUP BY Category;
   ```

4. Indexed Views:
   Indexed views, also known as indexed or materialized views with indexes, are materialized views that have indexes for faster querying. They are particularly useful for speeding up queries involving aggregations, joins, and calculations.

   Example:
   Create an indexed view that stores the total number of orders for each product in the "Products" table:

   ```sql
   CREATE INDEXED VIEW ProductOrderCount AS
   SELECT ProductID, COUNT(*) AS OrderCount
   FROM OrderDetails
   GROUP BY ProductID;
   ```

5. Updatable Views:
   Updatable views allow users to perform INSERT, UPDATE, and DELETE operations on the view, which can be translated into corresponding changes in the underlying base tables. Creating updatable views typically requires adhering to certain rules and constraints.

   Example:
   Create an updatable view that displays customer details and allows updates:

   ```sql
   CREATE VIEW UpdatableCustomer AS
   SELECT CustomerID, CustomerName, Email
   FROM Customers
   WHERE CustomerType = 'Regular';
   ```

These are some of the common types of views in a database. Depending on your specific requirements, you can choose the type of view that best suits your data modeling and query optimization needs.

### 2.What is the difference between function and stored procedure? Write syntax for creating functions and stored procedures.

 Ans:-Functions and stored procedures are database objects used for encapsulating and executing a series of SQL statements. While they share some similarities, they serve different purposes and have distinct characteristics.

Here are the key differences between functions and stored procedures:

1. Purpose:
   - Function: Functions return a single value and are typically used to perform calculations and return a result to the caller. Functions are primarily used for SELECT statements.
   - Stored Procedure: Stored procedures are used for performing a series of operations, which can include data manipulation, transaction control, and more. Stored procedures can return multiple result sets and don't necessarily return a value.

2. Return Type:
   - Function: A function must return a single value, and its return type is explicitly defined in the function declaration.
   - Stored Procedure: Stored procedures do not have a return type like functions. They can return data through output parameters but don't return a value directly.

3. Usage in Queries:
   - Function: Functions can be used in SQL queries, similar to table columns. You can call a function in the SELECT statement to retrieve a value.
   - Stored Procedure: Stored procedures are not directly used in queries. They are executed separately using the CALL or EXECUTE statement.

Now, let's look at the syntax for creating functions and stored procedures in a SQL database, using SQL Server syntax as an example. Note that the syntax may vary slightly in different database management systems (DBMS).

Syntax for Creating a Function:

```sql
CREATE FUNCTION [schema_name.]function_name
    ( [parameter1 data_type, [parameter2 data_type, ...] )
RETURNS return_data_type
AS
BEGIN
    -- Function logic here
    -- You must include a RETURN statement to return a value
    RETURN result_value;
END;
```

Example of creating a function that calculates the total price of a product:

```sql
CREATE FUNCTION CalculateTotalPrice
    (@ProductID INT, @Quantity INT)
RETURNS DECIMAL(10, 2)
AS
BEGIN
    DECLARE @TotalPrice DECIMAL(10, 2);
    SELECT @TotalPrice = Price * @Quantity
    FROM Products
    WHERE ProductID = @ProductID;
    RETURN @TotalPrice;
END;
```

Syntax for Creating a Stored Procedure:

```sql
CREATE PROCEDURE [schema_name.]procedure_name
    [ @parameter1 data_type [OUTPUT], [ @parameter2 data_type [OUTPUT], ...] ]
AS
BEGIN
    -- Procedure logic here
END;
```

Example of creating a stored procedure that updates the quantity of a product:

```sql
CREATE PROCEDURE UpdateProductQuantity
    @ProductID INT,
    @NewQuantity INT
AS
BEGIN
    UPDATE Products
    SET Quantity = @NewQuantity
    WHERE ProductID = @ProductID;
END;
```

In the above example, the stored procedure "UpdateProductQuantity" accepts two input parameters, @ProductID and @NewQuantity, and updates the quantity of the specified product in the "Products" table.

Remember that the specific syntax and features may vary between different database systems (e.g., SQL Server, MySQL, PostgreSQL), so you should refer to your DBMS documentation for the exact syntax and capabilities when creating functions and stored procedures in your database.

### 3.What is an index in SQL? What are the different types of indexes in SQL?

Ans:-In SQL, an index is a database object that improves the speed of data retrieval operations on a table. Indexes work by creating a data structure that stores a copy of a subset of the table's data, allowing the database management system (DBMS) to quickly locate and access rows in the table. Indexes are essential for optimizing query performance, especially when dealing with large datasets.

There are different types of indexes in SQL, each designed to address specific querying and performance needs:

1. **Single-Column Index:**
   - A single-column index is created on a single column of a table. It accelerates queries that involve the indexed column.
   - Example:
     ```sql
     CREATE INDEX idx_last_name ON Employees(LastName);
     ```

2. **Composite Index (Multi-Column Index):**
   - A composite index is created on multiple columns. It speeds up queries that use the indexed columns in combinations, but may not be as efficient for queries on individual columns.
   - Example:
     ```sql
     CREATE INDEX idx_name_and_age ON Customers(FirstName, LastName, Age);
     ```

3. **Unique Index:**
   - A unique index enforces the uniqueness constraint on one or more columns, ensuring that no two rows have the same values in the indexed columns.
   - Example:
     ```sql
     CREATE UNIQUE INDEX idx_email ON Users(Email);
     ```

4. **Clustered Index (SQL Server) / Index-Organized Table (Oracle):**
   - In SQL Server, a clustered index determines the physical order of data in a table. A table can have only one clustered index, and it defines how data is stored.
   - Example (SQL Server):
     ```sql
     CREATE CLUSTERED INDEX idx_order_date ON Orders(OrderDate);
     ```
   - In Oracle, an Index-Organized Table (IOT) stores the entire table in a B-tree structure based on the index key.

5. **Non-Clustered Index:**
   - A non-clustered index is an index that does not dictate the physical order of data in the table. Multiple non-clustered indexes can be created on a single table.
   - Example:
     ```sql
     CREATE INDEX idx_product_name ON Products(ProductName);
     ```

6. **Full-Text Index (SQL Server) / Text Search Index (PostgreSQL):**
   - These indexes are designed for searching text-based data efficiently. They are particularly useful for performing complex text searches.
   - Example (SQL Server):
     ```sql
     CREATE FULLTEXT INDEX idx_product_description ON Products(Description);
     ```

7. **Spatial Index (PostGIS in PostgreSQL, MySQL Spatial Index, etc.):**
   - Spatial indexes are used to optimize the querying of geographic or spatial data, such as points, lines, and polygons.
   - Example (PostGIS in PostgreSQL):
     ```sql
     CREATE INDEX idx_geography ON GeoTable USING GIST(GeographyColumn);
     ```

8. **Bitmap Index:**
   - Bitmap indexes are designed to improve query performance on columns with low cardinality (a small number of distinct values) by creating a bitmap for each possible value.
   - Example:
     ```sql
     CREATE BITMAP INDEX idx_gender ON Employees(Gender);
     ```

9. **Function-Based Index:**
   - A function-based index is created based on the result of a function applied to one or more columns. It can accelerate queries that involve the function.
   - Example:
     ```sql
     CREATE INDEX idx_name_length ON Customers(LENGTH(FirstName));
     ```

10. **Covering Index:**
    - A covering index includes all the columns needed to satisfy a query. It can eliminate the need to access the actual table, speeding up query performance.
    - Example:
      ```sql
      CREATE INDEX idx_covering ON Orders(CustomerID, OrderDate, TotalAmount);
      ```

Indexes should be chosen and designed carefully to match the specific querying patterns of your application, as they can significantly impact both read and write performance. Additionally, they should be maintained regularly to ensure their effectiveness as data evolves over time.

### 4.Showcase an example of exception handling in SQL stored procedure.

ANS:-Exception handling in SQL stored procedures is essential to gracefully handle errors or unexpected situations that may occur during the execution of the procedure. You can use TRY...CATCH blocks in SQL Server to handle exceptions. Here's an example of exception handling in a SQL Server stored procedure:

Suppose you have a stored procedure that divides two numbers, and you want to handle the case where division by zero occurs:

```sql
-- Create a stored procedure with exception handling
CREATE PROCEDURE DivideNumbers
    @Numerator INT,
    @Denominator INT
AS
BEGIN
    BEGIN TRY
        DECLARE @Result DECIMAL(18, 2);

        -- Check if the denominator is zero
        IF @Denominator = 0
        BEGIN
            -- Raise a custom error
            THROW 50000, 'Division by zero is not allowed.', 1;
        END

        -- Perform the division
        SET @Result = CONVERT(DECIMAL(18, 2), @Numerator) / @Denominator;

        -- Output the result
        SELECT 'Result: ' + CONVERT(NVARCHAR(50), @Result);
    END TRY
    BEGIN CATCH
        -- Handle the exception
        SELECT 'Error Number: ' + CONVERT(NVARCHAR(50), ERROR_NUMBER());
        SELECT 'Error Message: ' + ERROR_MESSAGE();
    END CATCH
END;
```

In this example:

1. We create a stored procedure named "DivideNumbers" that accepts two input parameters: `@Numerator` and `@Denominator`.

2. Inside the procedure, we use a `BEGIN TRY` block to enclose the code that may raise an exception. In this case, we check if the denominator is zero and, if so, raise a custom error using the `THROW` statement.

3. If no exceptions are raised within the `TRY` block, the procedure proceeds with the division and returns the result. If an exception occurs, it is caught by the `BEGIN CATCH` block.

4. In the `CATCH` block, we handle the exception by capturing and displaying information about the error, such as the error number and error message, using the `ERROR_NUMBER()` and `ERROR_MESSAGE()` functions.

Now, let's test the stored procedure with both valid and invalid inputs:

```sql
-- Test the stored procedure with valid input
EXEC DivideNumbers @Numerator = 10, @Denominator = 2;

-- Test the stored procedure with division by zero
EXEC DivideNumbers @Numerator = 5, @Denominator = 0;
```

When you execute the stored procedure, the first call will produce the result of the division, while the second call will trigger the exception handling code and display the error details.

Exception handling is crucial in database programming to ensure that errors are gracefully managed and reported, improving the reliability and robustness of your database applications.

### 5.Create a SQL function to split strings into rows on a given character? 
Input String: Stephen;peter;berry;Olivier;caroline;

Ans:-In SQL, you can create a function to split a string into rows based on a given delimiter character. However, the implementation of such a function varies depending on the database system you are using. Below is an example of how to create a function to split a string into rows in SQL Server. You may need to adjust the code for other database systems like MySQL or PostgreSQL.

Here's a SQL Server function that splits a string into rows using a semicolon (`;`) as the delimiter:

```sql
CREATE FUNCTION dbo.SplitStringToRows
(
    @InputString NVARCHAR(MAX),
    @Delimiter NVARCHAR(1)
)
RETURNS TABLE
AS
RETURN
(
    SELECT value AS SplitValue
    FROM STRING_SPLIT(@InputString, @Delimiter)
);
```

In this function:

- `dbo.SplitStringToRows` is the name of the function.
- `@InputString` is the input string you want to split.
- `@Delimiter` is the character that separates the values in the input string (in this case, a semicolon `;`).

This function uses the built-in `STRING_SPLIT` function, which is available in SQL Server 2016 and later versions. If you are using an older version of SQL Server, you can create your own custom split function, but it would be more complex.

To use the function with your input string, you can execute a query like this:

```sql
SELECT SplitValue
FROM dbo.SplitStringToRows('Stephen;peter;berry;Olivier;caroline;', ';');
```

This query will return a result set with each value from the input string as a separate row:

```
SplitValue
-----------
Stephen
peter
berry
Olivier
caroline
```

Please note that if you are using a different database system, the syntax for creating such a function may vary, and you may need to implement your own string splitting logic or use system-specific functions.

### 6.What is a temporary and a variable table? Write suitable syntax to create temporary tables and variable tables.

Ans:-Temporary tables and table variables are both used to store data temporarily within a database session, but they have some key differences in terms of their usage, scope, and behavior. Here's an overview of each and the syntax for creating them:

**Temporary Tables:**

Temporary tables are database objects that can be used to store data temporarily, typically for the duration of a database session. They are useful for intermediate data storage or complex query processing. Temporary tables can be global or local:

1. **Local Temporary Table:**
   - A local temporary table is visible only within the current session. Other sessions or connections cannot access it.
   - Created using a `#` prefix before the table name.

   Syntax to create a local temporary table:

   ```sql
   CREATE TABLE #TempTable (
       ID INT,
       Name NVARCHAR(50)
   );
   ```

2. **Global Temporary Table:**
   - A global temporary table is visible to all database sessions within the same database but is deleted when the last session that references it ends.
   - Created using a `##` prefix before the table name.

   Syntax to create a global temporary table:

   ```sql
   CREATE TABLE ##GlobalTempTable (
       ID INT,
       Name NVARCHAR(50)
   );
   ```

**Table Variables:**

Table variables are variables that can hold a table-like structure in memory. They are primarily used within a single batch, function, or stored procedure and do not have physical storage like temporary tables. Table variables are created using the `DECLARE` statement.

Syntax to declare a table variable:

```sql
DECLARE @TableVariable TABLE (
    ID INT,
    Name NVARCHAR(50)
);
```

Now, let's create a simple example of each to illustrate the difference:

```sql
-- Create a local temporary table
CREATE TABLE #TempTable (
    ID INT,
    Name NVARCHAR(50)
);

-- Insert data into the local temporary table
INSERT INTO #TempTable (ID, Name)
VALUES (1, 'Alice'), (2, 'Bob');

-- Declare a table variable
DECLARE @TableVariable TABLE (
    ID INT,
    Name NVARCHAR(50)
);

-- Insert data into the table variable
INSERT INTO @TableVariable (ID, Name)
VALUES (3, 'Charlie'), (4, 'David');

-- Query the local temporary table
SELECT * FROM #TempTable;

-- Query the table variable
SELECT * FROM @TableVariable;
```

In this example, we created a local temporary table `#TempTable` and a table variable `@TableVariable`, inserted data into both, and queried them separately. Temporary tables are visible to other sessions in the same scope (local or global), while table variables are limited to the scope of the batch or procedure in which they are declared.