### SQL Assignment 3

### 1.Create a function and then call another function from within it. What is this process called?

Ans:-Creating a function and then calling another function from within it is called "function composition" or "function nesting." It's a common practice in programming and is used to break down complex tasks into smaller, more manageable subtasks. This allows for better code organization, reusability, and abstraction of functionality.

In the context of SQL, you can create user-defined functions that encapsulate specific logic and calculations. These functions can then be called from other functions or SQL statements, enabling you to build more complex operations by composing simpler functions.

Here's an example of creating a function that calls another function in SQL Server:

Suppose you have two functions: `CalculateTax` and `CalculateTotalCost`. You can create a function called `CalculateFinalCost` that calls these functions to calculate the final cost, which includes the product cost and tax.

```sql
-- Create a function to calculate tax
CREATE FUNCTION CalculateTax(@Amount DECIMAL(10, 2), @TaxRate DECIMAL(5, 2))
RETURNS DECIMAL(10, 2)
AS
BEGIN
    RETURN @Amount * @TaxRate / 100.0;
END;

-- Create a function to calculate the total cost (including tax)
CREATE FUNCTION CalculateTotalCost(@ProductCost DECIMAL(10, 2), @TaxRate DECIMAL(5, 2))
RETURNS DECIMAL(10, 2)
AS
BEGIN
    DECLARE @Tax DECIMAL(10, 2);
    SET @Tax = dbo.CalculateTax(@ProductCost, @TaxRate);  -- Call CalculateTax function
    RETURN @ProductCost + @Tax;
END;

-- Call CalculateTotalCost to calculate the final cost
DECLARE @ProductCost DECIMAL(10, 2) = 100.00;
DECLARE @TaxRate DECIMAL(5, 2) = 8.00;
DECLARE @FinalCost DECIMAL(10, 2);

SET @FinalCost = dbo.CalculateTotalCost(@ProductCost, @TaxRate);

-- Display the final cost
SELECT @FinalCost AS FinalCost;
```

In this example:

- `CalculateTax` calculates the tax amount based on the product cost and tax rate.
- `CalculateTotalCost` calls `CalculateTax` to get the tax amount and then adds it to the product cost to calculate the total cost.
- We call `CalculateTotalCost` with sample values for product cost and tax rate to compute the final cost.

Function composition is a powerful technique for building modular and maintainable code, as it allows you to reuse smaller units of logic in more complex operations. It promotes code reusability and separation of concerns.

### 2.How to inspect the query's execution plan?

Ans:-Inspecting a query's execution plan is a crucial task in database optimization. It helps you understand how the database management system (DBMS) will execute your query, including the steps it will take, the order of operations, and the resources it will use. By analyzing the execution plan, you can identify performance bottlenecks and make necessary adjustments to improve query performance. Here's how you can inspect a query's execution plan in SQL:

1. **SQL Server (using SQL Server Management Studio):**

   - Open SQL Server Management Studio (SSMS).
   - Write your SQL query in a new query window.
   - Before executing the query, click the "Include Actual Execution Plan" button on the toolbar or press `Ctrl+M`.
   - Execute your query.

   The execution plan tab will appear alongside your query results. You can click on the "Execution plan" tab to view the graphical representation of the execution plan.

2. **PostgreSQL (using EXPLAIN):**

   - Open your PostgreSQL query tool (e.g., psql or pgAdmin).
   - Write your SQL query.
   - Prefix your query with `EXPLAIN`:

     ```sql
     EXPLAIN SELECT * FROM your_table WHERE your_condition;
     ```

   - Execute the query.

   PostgreSQL will return a text-based execution plan that details the steps taken to execute your query.

3. **MySQL (using EXPLAIN):**

   - Open your MySQL query tool (e.g., MySQL Workbench or the MySQL command-line client).
   - Write your SQL query.
   - Prefix your query with `EXPLAIN`:

     ```sql
     EXPLAIN SELECT * FROM your_table WHERE your_condition;
     ```

   - Execute the query.

   MySQL will return a text-based execution plan that explains how your query will be executed.

4. **Oracle (using EXPLAIN PLAN):**

   - Open your Oracle query tool (e.g., SQL*Plus or Oracle SQL Developer).
   - Write your SQL query.
   - Prefix your query with `EXPLAIN PLAN FOR`:

     ```sql
     EXPLAIN PLAN FOR SELECT * FROM your_table WHERE your_condition;
     ```

   - Execute the query.

   To view the execution plan, you can run the following query:

   ```sql
   SELECT * FROM TABLE(DBMS_XPLAN.DISPLAY);
   ```

Different database systems may have their own methods and tools for viewing execution plans. The common thread is that you prefix your query with a command like `EXPLAIN` or `EXPLAIN PLAN FOR` to generate the execution plan, and then you use a system-specific command or tool to display the plan. By examining the execution plan, you can identify potential optimizations and fine-tune your SQL queries for better performance.

### 3.What is the purpose of the MAXDOP and recompiling keywords in SQL queries?

Ans:-In SQL Server, the "MAXDOP" (Maximum Degree of Parallelism) and "recompiling" are two query optimization features that play crucial roles in controlling query execution and query plan caching. Let's explore the purpose and usage of each of these keywords:

1. **MAXDOP (Maximum Degree of Parallelism):**

   - **Purpose:** MAXDOP is a configuration option that controls the maximum number of processor cores a single query can use for parallel execution. It determines how many threads can be used to execute a single query in parallel.

   - **Usage:** MAXDOP can be set at various levels, including the instance level, database level, or query level. It's often set at the instance level or database level to provide a system-wide setting for parallelism, but it can also be controlled at the query level using a query hint.

   - **Example:** To set MAXDOP at the instance level, you can use the following SQL Server Management Studio (SSMS) command:

     ```sql
     sp_configure 'show advanced options', 1;
     RECONFIGURE;
     sp_configure 'max degree of parallelism', 4; -- Set the desired MAXDOP value
     RECONFIGURE;
     ```

   - **Impact:** Controlling parallelism with MAXDOP can help manage server resources and query performance. It can be particularly useful in scenarios where parallel execution can lead to resource contention or reduced performance.

2. **Recompiling:**

   - **Purpose:** Recompiling a query refers to the process of generating a new query plan for a query. SQL Server caches query plans for reuse to optimize query performance. However, there are situations where recompilation is necessary to adapt to changing data statistics or runtime conditions.

   - **Usage:** Recompilation can be triggered automatically by SQL Server when it detects changes in the environment that affect query performance. It can also be explicitly forced using the `OPTION (RECOMPILE)` query hint. For example, you might use recompilation to take advantage of specific parameter values or to optimize query performance for different scenarios.

   - **Example:** To use recompilation explicitly in a query, you can include the `OPTION (RECOMPILE)` query hint like this:

     ```sql
     SELECT column1, column2
     FROM your_table
     WHERE some_condition
     OPTION (RECOMPILE);
     ```

   - **Impact:** Recompilation can improve query performance by generating an optimized query plan based on current statistics or parameter values. However, it should be used judiciously, as excessive recompilation can have a negative impact on performance due to the overhead of generating new plans.

Both MAXDOP and recompiling are tools for query optimization and performance tuning in SQL Server. MAXDOP controls parallelism to manage server resources, while recompiling ensures that queries adapt to changing conditions for optimal performance. Properly configuring and using these features can significantly enhance the performance of your SQL queries and your database system as a whole.

### 4.How to build DDL statements from an existing database table, write steps for it?

Ans:-To generate Data Definition Language (DDL) statements from an existing database table, you can use various methods and tools provided by your specific database management system (DBMS). The exact steps may vary depending on the DBMS you are using. Below are generic steps that outline the process for most DBMSs:

1. **Identify the Target Table:**
   - Determine which database table you want to generate DDL statements for.

2. **Use DBMS Tools:**
   - Most modern DBMSs provide tools and commands to extract DDL statements for existing tables. You can use these built-in features or external tools, as needed.

3. **SQL Command:**
   - In some DBMSs, you can use SQL commands to generate the DDL statements. For example, in SQL Server, you can use the `sp_helptext` system procedure to retrieve the CREATE TABLE statement for an existing table.

4. **DBMS-Specific Method:**
   - Refer to your DBMS's documentation for the specific method or tool to generate DDL statements for a table. Here are some common examples for popular DBMSs:

   - **SQL Server:**
     - You can use SQL Server Management Studio (SSMS) to generate the script. Right-click on the table, select "Script Table as," and choose "CREATE To" to generate the DDL script.

   - **MySQL:**
     - In MySQL Workbench, you can right-click on the table, choose "Table Inspector," and then select the "SQL" tab to view the CREATE TABLE statement.

   - **Oracle:**
     - In Oracle SQL Developer, right-click on the table, choose "SQL," and select "DDL" to generate the CREATE TABLE statement.

5. **Review and Customize:**
   - Once you have generated the DDL statements, review them to ensure they match your requirements. You can customize the statements if needed, such as changing data types, constraints, or adding comments.

6. **Save or Execute:**
   - You can save the generated DDL script to a file or execute it directly in your DBMS to recreate the table, if necessary.

7. **Backup Data:**
   - Before making any structural changes to the database, it's a good practice to back up the existing data to prevent data loss.

It's important to note that while generating DDL statements, you may need sufficient privileges or permissions to access and extract the schema information of the database. Additionally, some DBMSs may provide different options for generating DDL statements, so it's advisable to consult the specific documentation for your DBMS for detailed instructions and best practices.

### 5.How to update data in a table using an inner join, write an example?

Ans:-To update data in a table using an inner join, you can use an SQL `UPDATE` statement combined with the `JOIN` clause to specify the relationship between the tables. This allows you to update the records in one table based on matching records in another table. Here's an example:

Suppose you have two tables, "Employees" and "SalaryChanges," and you want to update the salary for employees based on data in the "SalaryChanges" table. The "Employees" table contains employee information, and the "SalaryChanges" table contains salary updates.

Here's how you can update the salaries of employees using an inner join:

```sql
-- Sample Employees table
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName NVARCHAR(50),
    LastName NVARCHAR(50),
    Salary DECIMAL(10, 2)
);

-- Sample SalaryChanges table
CREATE TABLE SalaryChanges (
    EmployeeID INT,
    NewSalary DECIMAL(10, 2)
);

-- Insert sample data into the Employees table
INSERT INTO Employees (EmployeeID, FirstName, LastName, Salary)
VALUES
    (1, 'Alice', 'Johnson', 50000.00),
    (2, 'Bob', 'Smith', 60000.00),
    (3, 'Charlie', 'Brown', 55000.00);

-- Insert sample data into the SalaryChanges table
INSERT INTO SalaryChanges (EmployeeID, NewSalary)
VALUES
    (1, 52000.00),
    (3, 56000.00);

-- Update employee salaries based on SalaryChanges using an INNER JOIN
UPDATE Employees
SET Employees.Salary = SalaryChanges.NewSalary
FROM Employees
INNER JOIN SalaryChanges ON Employees.EmployeeID = SalaryChanges.EmployeeID;
```

In this example:

1. We have two tables, "Employees" and "SalaryChanges," with sample data.

2. We use an `UPDATE` statement to modify data in the "Employees" table.

3. We specify the table to update, which is "Employees."

4. We use the `FROM` clause to specify the table to join, which is "SalaryChanges."

5. We use the `INNER JOIN` clause to specify the join condition based on the common column, which is "EmployeeID" in this case.

6. We set the "Salary" column in the "Employees" table to the "NewSalary" column from the "SalaryChanges" table for matching records.

After running this SQL query, the salaries of employees with corresponding records in the "SalaryChanges" table will be updated based on the specified conditions.

Please make sure to back up your data and use caution when performing updates, especially on production databases, to avoid unintended changes to your data.

### 6.Differentiate between truncate, delete, and drop with a suitable example.

Ans:-In SQL, "TRUNCATE," "DELETE," and "DROP" are three distinct operations used to manage data and database objects, and each serves a different purpose. Let's differentiate between them and provide suitable examples for each:

1. **TRUNCATE:**
   - **Purpose:** The TRUNCATE statement is used to remove all rows from a table, effectively emptying the table while keeping the table structure intact. It is a faster and less resource-intensive operation compared to DELETE, as it doesn't log individual row deletions.
   - **Example:**
     ```sql
     -- Truncate the "Employee" table
     TRUNCATE TABLE Employee;
     ```

2. **DELETE:**
   - **Purpose:** The DELETE statement is used to remove specific rows from a table based on a specified condition. It is a more controlled operation than TRUNCATE and is logged, allowing for the possibility of rolling back the changes.
   - **Example:**
     ```sql
     -- Delete employees with a salary less than 30000
     DELETE FROM Employee WHERE Salary < 30000;
     ```

3. **DROP:**
   - **Purpose:** The DROP statement is used to completely remove a database object, such as a table, view, or database itself. This operation is irreversible and permanently deletes the object.
   - **Example:**
     ```sql
     -- Drop the "Products" table
     DROP TABLE Products;
     ```

**Example Illustrating the Differences:**

Let's consider a scenario with a "Student" table to demonstrate the differences between these operations:

- **TRUNCATE:**
  - Suppose the "Student" table has data for all enrolled students. Using `TRUNCATE` would remove all student records, leaving an empty table structure. You can use this operation at the end of an academic year to prepare for a new batch of students.

- **DELETE:**
  - If you want to remove specific students from the "Student" table, you would use the `DELETE` statement. For example, you might remove students who have graduated or are no longer active in the program.

- **DROP:**
  - If you want to completely get rid of the "Student" table and all its data, you would use the `DROP` statement. This action permanently deletes the table and its structure. Use it with caution, as the table cannot be recovered once dropped.

In summary, TRUNCATE is used to remove all data from a table while keeping the table structure, DELETE is used to remove specific rows from a table, and DROP is used to completely delete a table or other database objects. The choice of which operation to use depends on your specific requirements and the desired outcome.